{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Editar Atividade{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header">
        <h3>Editar Atividade do Edital: {{ edital.numero_edital }}</h3>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}

            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    
                    {{ field|add_class:"form-control" }}

                    {% for error in field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            <a href="{% url 'detalhes_edital' pk=edital.pk %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}