{% extends 'base.html' %}

{% block title %}Meus Editais - GECC System{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Meus Editais</h1>
        <a href="{% url 'criar_edital' %}" class="btn btn-primary">Criar Novo Edital</a>
    </div>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Número do Edital</th>
                <th>Título</th>
                <th>Data de Criação</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for edital in editais %}
            <tr data-href="{% url 'detalhes_edital' pk=edital.pk %}">
                <td>{{ edital.numero_edital }}</td>
                <td>{{ edital.titulo }}</td>
                <td>{{ edital.created_at|date:"d/m/Y H:i" }}</td>
                <td>{{ edital.status }}</td>
                <!-- <td><a href="{% url 'detalhes_edital' pk=edital.pk %}" class="btn btn-info btn-sm">Ver Detalhes</a></td> -->
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Você ainda não criou nenhum edital.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'painel' %}" class="btn btn-secondary mt-3">Voltar ao Painel</a>
{% endblock %}