{% extends 'base.html' %}

{% block title %}Painel do Servidor{% endblock %}

{% block content %}
    <h1>Painel do Servidor</h1>
    <p>Bem-vindo(a), {{ user.get_full_name|default:user.username }}!</p>

    <ul>
        <li><a href="{% url 'lancar_horas' %}">Lançar/Consultar Minhas Horas</a></li>
        <li><a href="{% url 'historico_lancamentos' %}">Meus Lançamentos (Histórico)</a></li>
    </ul>

    <hr>
    <form action="{% url 'logout' %}" method="post" style="margin-top: 20px;">
        {% csrf_token %}
        <button type="submit">Sair</button>
    </form>
{% endblock %}